.nav-link:nth-child(1):hover ~ .menu-label:before,
.nav-link:nth-child(1):focus ~ .menu-label:before {
  bottom: 83px;
  color: inherit;
}

.nav-link:nth-child(2):hover ~ .menu-label:before,
.nav-link:nth-child(2):focus ~ .menu-label:before {
  bottom: 63px;
  color: inherit;
}

.nav-link:nth-child(3):hover ~ .menu-label:before,
.nav-link:nth-child(3):focus ~ .menu-label:before {
  bottom: 43px;
  color: inherit;
}

.nav-link:nth-child(4):hover ~ .menu-label:before,
.nav-link:nth-child(4):focus ~ .menu-label:before {
  bottom: 23px;
  color: inherit;
}
