.gl-menu {
  border-right: var(--gl-border);
  height: 100%;
  left: calc(var(--gl-menu-width) * -1);
  max-width: var(--gl-menu-width);
  position: fixed;
  top: 0;
  transition: left var(--gl-transition);
  z-index: var(--gl-modal);
}

.gl-menu:target {
  left: 0;
}

.gl-menu:target ~ .gl-toggle-menu .gl-close-menu {
  display: block;
}

.gl-menu:target ~ .gl-overlay-close-menu {
  background: var(--gl-colors-01);
  opacity: 0.7;
  pointer-events: all;
}

.gl-menu:target .gl-menu-scroll {
  display: flex;
}

.gl-toggle-menu {
  font-size: 0;
  position: fixed;
  right: 0;
  top: var(--gl-gutter);
  z-index: var(--gl-modal);
}

.gl-button-menu {
  background-color: var(--gl-background);
  border: var(--gl-border);
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  border-right: 0;
  color: var(--gl-color-text);
  display: inline-block;
  font-size: 1rem;
  line-height: 2em;
  padding: 0 var(--gl-gutter);
  text-decoration: none;
  transition: color var(--gl-transition);
}

.gl-close-menu {
  background: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--gl-content);
}

.gl-overlay-close-menu {
  background: var(--gl-colors-01);
  font-size: 0;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--gl-transition);
  width: 100%;
  z-index: calc(var(--gl-modal) - 1);
}

.gl-menu-scroll {
  display: none;
  flex-direction: column;
  height: calc(100% - var(--gl-menu-title-box-size));
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: var(--gl-gutter);
}

.gl-nav-link {
  background-color: var(--gl-background);
  color: var(--gl-color-text);
  padding: calc(var(--gl-gutter) * 0.5) var(--gl-gutter);
}

.gl-button-menu:focus,
.gl-button-menu:hover,
.gl-close-menu:focus + a,
.gl-close-menu:hover + a,
.gl-nav-link:focus,
.gl-nav-link:hover {
  color: var(--gl-color-text-decoration);
}
